html 
    head 
    body 

        center 
            h1= "Results for: " + query

            h2= "Sentiment under the current Query condidtion is : "+ sentiment

            br
            each val in tweets
                h3= val